<!-- <html>
    <head>
        <title>Helen's blog</title>
    </head>
    <body>
        <h1>Welcome to my blog!</h1>
        <h2>You can look forward to learn something new today!</h2>
        <div><strong>Food</strong>?</p></div>
        <p>You want to know something about food?</p>
        <p>Then have a look at this page:
            <a href="https://chefkoch.de">link</a> </p>
        <div><strong>Psychology</strong>?</p></div>
        <p>Or want to read something about psychology?!</p>
        <ul><li>first item</li><li>second item</li></ul>
    </body>
</html> -->

{% extends 'blog/base.html' %}

{% block content %}
     {% for post in posts %}
        <div class="post">
            <div class="date">
                 {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}